/*
Pantone + Solid Coated
419 C ---> 413 C
dark to light
#212322
#52534b
#65675e
#7e7f75
#91928a
#a9a9a0
#babab1

TODO Colors
  Danger
  Warning
*/

$primary-color: #bfa0de;
$primary-dark-color: #85709b;
$primary-dark-dark-color: #393042;
$secondary-color: #a0debf;
$secondary-light-color: #bce7d2;
$secondary-light-light-color: #e2f5eb;
$info-color: #bfdea0;
$light-color: #e9ecef;
$dark-color: #343a40;
