/*
Pantone + Solid Coated
419 C ---> 413 C
dark to light
#212322
#52534b
#65675e
#7e7f75
#91928a
#a9a9a0
#babab1

TODO Colors
  Danger
  Warning
*/

$primary-color: #52534b;
$primary-dark-color: #212322;
$secondary-color: #65675e;
$secondary-light-color: #7e7f75;
$secondary-light-light-color: #91928a;
$info-color: #19697b;
$light-color: #e9ecef;
$dark-color: #343a40;
