@import './sizing-variables';
@import './colors';
@import './nav';
@import './footer';

// TODO reorganize the element overwrites into different file
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// https://www.youtube.com/watch?v=CR-a8upNjJ0

// variables
$font-stack: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua',
  Georgia, serif;
// $font-stack: Verdana, sans-serif;
$hero-div-height: 15rem;

// element overwrites
a {
  color: $info-color;
  text-decoration: none;
}
a:hover {
  color: lighten($info-color, 25%);
}

body {
  background-color: $primary-dark-color;
  color: $primary-dark-dark-color;
  font: 100% $font-stack;
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  color: lighten($primary-dark-dark-color, 25%);
}
h2 {
  color: lighten($primary-dark-dark-color, 45%);
}
h3 {
  color: darken($secondary-color, 10%);
}
h4 {
  color: lighten($secondary-color, 15%);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

hr {
  border: 0;
  background-color: $primary-dark-color;
  height: 2px;
}

p,
ul {
  line-height: 1.6rem;
  margin-top: 0;
}

// Classes
.max-width-5rem {
  max-width: 5rem;
}

.max-width-40rem {
  max-width: 40rem;
}

.root-container-flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: $md) {
  .root-container-flex {
    display: flex;
    flex-direction: row;
  }
}

// ID
#blog-hero-div,
#hero-div {
  background-color: $primary-color;
  color: lighten($primary-color, 20%);
  height: $hero-div-height;
  // padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    color: lighten($primary-color, 20%);
    position: absolute;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
}

#content-div {
  padding: 2rem;
}

#main-container {
  // flexbox
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // other properties
  background-color: white;
  margin: auto;
  padding: $nav-height 0 0 0; //TODO make this a variable

  // sizing
  min-height: 90vh;
  width: 100%;

  main {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $md) {
  #blog-hero-div {
    height: $hero-div-height;
  }
  #hero-div {
    height: $hero-div-height + 5rem;
  }

  #main-container {
    padding: 0 0 0 $nav-width;
    min-height: 100vh;
    width: 100%;
  }
}

@media (min-width: $lg) {
  #hero-div {
    height: $hero-div-height + 10rem;
  }
}

@media (min-width: $xl) {
  #hero-div {
    height: $hero-div-height + 15rem;
  }
}

@media (min-width: $xxl) {
  #hero-div {
    height: $hero-div-height + 20rem;
  }
}
